body {
  margin: 0 auto;
  padding: 0;
}

.footer {
  width: 100%;
  height: 80px;
  border-color: black;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;

}

.social {
  display: flex;
  justify-content: center;
}

.img-footer {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.img-footer:hover {
  width: 30px;
  height: 30px;
}

.copyright {
  color: #ccc;
  font-size: 1em;
  font-family: serif;
  text-align: center;
  margin: 0;
}
