body ,html{
  width: 100%;
  margin: 0 auto;
  height: 100%
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
  width: 100%;
  height: 75px;
  padding-top: 2px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

header .container .logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
}
header .container .logo h1{
  margin-top: 0;
  margin-bottom: 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-family: 'montserrat_bold', arial, sans-serif;
}
header nav .item{
  width: 25%;
  height: inherit;
}
header nav .item a {
  color: #f0f0f0;
  text-decoration: none;
  width: 100%;
  height: inherit;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav .item a i{
  background-color: #f7a618;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
header nav .item a .content{
  color: #fff;
  width: 100%;
  height: 25px;
  margin-top: 2px;
}
header .container .item a:hover .space-box{
	width: 100%;
}
.space-box{
	width: 0%;
	background-color: white;
	height: 2px;
	margin: 0 auto;
	transition: all 0.2s ;

}
body > header .burger-btn{
  display: none;
  outline: none;
}
@media screen and (max-width:768px){
  body > header .burger-btn{
    display: block;
  }
  .container {
    position: relative;
    max-width: 1200px;
    width: 100%;
  }
  header .container nav {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    z-index: 1;
    right: 0;
    top: calc(100% + 1px);
  }
  .space-box {
    display: none;
  }
  header .container nav .item{
    width: 100%;
    height: 60px;
    display: inline-block;
  }

  header nav .item a{
  flex-direction: row-reverse;
}
.active{
  display: block;
}
  header nav:not(.active){
  display: none;
}
  header .container .burger-btn{
  width: 55px;
  display: block;
  background:none;
  border:none;
  margin: 14px 0;
}
header .container .burger-btn .icon-line {
    background-color: #fff;
    height: 3px;
    display:block;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
header .container .burger-btn .icon-line:last-child{
margin-bottom: 0;
}
header nav .item a i {
  width: 40px
}
header nav .item{
  border-bottom: 2px solid #fff;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
header .container nav .item:hover{
  border-bottom: 2px solid #f7a618;
}
header .container nav .item:hover a .content{
  color: #f7a618;
}
}
