.form-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sp_form{
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sp_form form{
  width: 100%;
}
.input_L input {
    border-color: rgb(209, 61, 61);
}
.input_box {
    border-radius: 0;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    resize: none;
    padding: 0.5rem 0 0.5rem;
    transition: border 0.2s ease-in;
    border-bottom: 2px solid #E7ECF0;
    margin-bottom: 0.5rem;
    outline: none;
    font-size: 1rem !important;
    font-weight: normal;
}
.input_box:focus{
  border-color: red;
}

.log_button {
  width: 50%;
  border-bottom-right-radius: 12%;
  border-top-left-radius: 12%;
  box-shadow: 3px 4px 14.2px 1.5px;
  padding: 7px;
  background-color: #000;
  border: none;
  color: #fff;
  border-bottom-right-radius: 12%;
  border-top-left-radius: 12%;
  outline: none;
  margin: 0;
  width: 100%;
  height: 35px;
  margin-right: 2px;
  font-size: 18px
}
.log_button:active{
  background-color: red;
}
.input_form {
    display: flex;
    align-items: center;
    width: 100%;
}
.log_ico {
    width: 15%;
}
.log_ico .material-icons{
  width: 90%;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: #000;;
}
.log_input {
    width: 80%;
}
.but_form {
    margin-top: 1.5em;
}
