html, body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.menu {
  border-right: 1px solid #41454a;
  width: 90px;
  height: 100%;
  background-color: #171820;
  margin: 0;
  padding: 0;
}
.m-item.avatar {
  width: 100%;
  height: 90px;
  background-image: url("../images/img_general_avatar.e40ca637.png");
  background-size: contain;
  margin-top: 40px;
}
.fluid-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}
.m-container {
  height: calc(100% - 90px - 18px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #454c55;
}
.m-item a {
  text-decoration: none;
  color: #454c55;
  text-align: center;
}
.m-item #levels {
  color: #454c55;
  text-align: center;
  width: 100%;
  height: 100%;
}
.m-item a div {
  text-align: center;
}

.m-item {
  width: 100%;
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-bottom-left-radius: 3px;
  margin-bottom: 8px;
  border-top-left-radius: 8px;
}
.m-item:active {
  background-color: #1a99aa;
}
.left-column {
  display: flex;
  flex: 2
}
.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.inner-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: inherit;
}
.ide-header {
  background-color: #131C26;
  box-shadow: 5px 10px #ffffff;
  width: 100%;
  height: 42px;
}
#game {
  display: flex;
  flex-grow: 1;
}
.main .ide-panel .inner-main .ide-header .container .question-infos {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1180px;
  height: 100%;
}
.main .ide-panel .inner-main .ide-header .container {
  display: flex;
  justify-content: space-between;
}
.ide-header .session-info {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  align-items: center;
}
.ide-header .session-info .score .score-ico {
  background-image: url("../images/ide-black-s16e36b2c64.f9f06027.png");
  background-repeat: no-repeat;
  background-position: 0 -373px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.ide-header .session-info .score {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .ide-panel .inner-main #ide-code-screen {
  height: calc(100% - 43px);
  background-color: #131C26;
}
.list-item{
  direction: rtl;
}
.list-item li{
color:#c7254e;
}
.num{
  font-size: 16;
  color:blue;
  direction: ltr;
  font-weight: bold;
}
#ide-code-screen .container {
  display: flex;
  justify-content: space-between;
}
#ide-code-screen .container .left-block {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131C25;
}
#ide-code-screen .container .left-block .player-dommy {
  width: 100%;
  height: 57%;
  margin-top: 2px;
  margin-bottom: 5px;
}
#ide-code-screen .container .left-block .player-note {
  width: 98%;
  height: 40%;
  background-color: #131C26;
  text-align: right;
  border: 0.5px solid #ececec;
  color: #fff;
  margin-right: 5px;
  margin-left: 1px;
}
#ide-code-screen .container .right-block {
  width: 485px;
  height: 100%;
  border-color: #131C25;
}
.left-block .player-dommy .larg-row {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-block .player-note .small-row p {
  text-align: right;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  font-size: 20px
}
.player-note{
  overflow-y: scroll;
}
.left-block .player-note .small-row .title h2 {
  text-align: center;
  font-size: 30px;
}
.left-block .player-note {
  background-color: #131C26;
  text-align: right;
  border: 2px solid #ececec;
}

#ide-code-screen .container .left-block .larg-row .screen {
  width: 90%;
  height: 85%;
  background:#1e651e;
  margin-bottom: 5px;
  margin-top: 2%;
}
#myCanvas{
  visibility: hidden;
}
#ide-code-screen .container .right-block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#ide-code-screen .container .right-block #defaultContainer {
  width: 100%;
  height: 38%;
  border: 2px solid gray;
  background-color: #fff;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#ide-code-screen .container .right-block #drop {
  width: 100%;
  height: 47%;
  border: 2px solid gray;
  background-color: #272822;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.container .right-block #defaultContainer #block-1 {
  width: 80px;
  height: 80px;
  background-color: #131C26;
  color: #fff;
  text-align: center;
}
.panel {
  width: 380px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 90px;
  background-color: #F2F2F2;
  overflow-x: hidden;
  transition: 0.5s;
  padding:20px;
}
.panel .panel-container .panel-info h2 {
  text-align: center;
}
.panel .panel-container .panel-item {
  width: 95%;
  height: 30px;
  margin-bottom: 4px;
  background-color: #FFFFFF;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel .panel-container .panel-item a {
  text-decoration: none;
  color: #1a99aa;
  font-weight: 400;
}
.panel .panel-container button {
  display: flex;
  justify-content: flex-end;
}
.panel .panel-container {
  width: 100%;
  height: inherit;
}
.panel .panel-container #close{
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
.close-block {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.panel {
  display: none;
}
.instruction{
  list-style: none;
  color:white;
  font-size: 20px;
}
.dragcode{
  display: flex;
  justify-content: center;
  align-content: center;

}

.dragcodeo{
  display: flex;
  justify-content: center;
  align-content: center;
  direction: rtl;
}
.dragcodeId{
  font-family: "Tahoma";
  color: #1C94C4;
  text-align: center;
  list-style: none;
  border: 1px solid #CCC;
  width: 90px;
  padding: 3px;
  margin: 3px;
  height: 20px;
  direction: rtl;
}
.dragcodeIds{
  font-family: "Tahoma";
  color: #1C94C4;
  direction: rtl;
  text-align: center;
  list-style: none;
  width: 90px;
  padding: 3px;
  margin: 3px;
  height: 6px;
}

.title{
 display:flex;
 justify-content:center;
 align-content:center;
 color:red;
}
#submit{
  width: 50%;
 height: 30px;
 border-radius: 0;
 display: flex;
 justify-self: center;
 align-self: center;
 margin-top: 10px;
 background-color: #db9d1e;
 color: #fff;
 font-size: 20px;
 border: none;
}
#code .code-info {
  color:#f92672;
}
#code input {
margin-left: 5px;
margin-right: 5px;
margin-bottom: 10px;
}
#code .code-info-o {
  color:#fd971f;
}
.block-code h2 {
  display:flex;
  justify-content:center;
  align-content:center;
  color:#fff;
}
