

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    direction: rtl;
    overflow-y: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

 .content {
   position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height:100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin :60px;
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;

}

#myBtn:hover {
    background: yellow;
    color: #fff;
}

#myBtn2 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin :60px;
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;


}

#myBtn2:hover {
    background: yellow;
    color: #fff;
}

.href{
  text-decoration: none;

}
.p-mix{
  color:yellow;
}
