* {
  box-sizing: border-box;
}
body, figure {
   background:url("../images/level.png");
  width: 100%;
overflow-x: hidden;
  background-size: cover;
}
.dropbtn {

    padding: 16px;
    width: 100px;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.dropdown {
    position: relative;
    display: inline-block;
    top:35px;
    left: 1150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    transform: scale(1.6);
}

.rec{
  top: 190px;
left: 410px; position:absolute;
border-radius: 200px;

}
.rect{
  top: 125px;
      left: 740px; position:absolute;

}
.rectt{
  top: 185px;
      left: 1055px; position:absolute;
}
.recta {
  width: 224px;
  height: 154px;
  background-color: #6bb4b2;
  top: 433px;
  left: 35px;
  position: absolute;
  transform: rotate(-3deg);
  color:white;
}
.rec img:hover{
transform: scale(1.6);
}
.rect img:hover{
transform: scale(1.6);
}
.rectt img:hover{
transform: scale(1.6);
}
footer { color: #fff;
    width: 100%;
    position: absolute;
    bottom: 19px;
    left: 500;
    DISPLAY: FLEX;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;}
