html, body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  border-right: 1px solid #41454a;
  width: 90px;
  height: 100%;
  background-color: #171820;
  margin: 0;
  padding: 0;
}

.m-item.avatar {
  width: 100%;
  height: 90px;
  background-image: url("../images/img_general_avatar.e40ca637.png");
  background-size: contain;
  margin-top: 40px;
}

.fluid-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

.m-container {
  height: calc(100% - 90px - 18px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #454c55;
}

.m-item a {
  text-decoration: none;
  color: #454c55;
  text-align: center;
}

.m-item #levels {
  color: #454c55;
  text-align: center;
  width: 100%;
  height: 100%;
}

.m-item a div {
  text-align: center;
}
.m-item {
  width: 80px;
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-bottom-left-radius: 3px;
  margin-bottom: 8px;
  border-top-left-radius: 8px;
}

.m-item:active {
  background-color: #1a99aa;
}

.left-column {
  display: flex;
  flex: 2
}

.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.inner-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: inherit;
}

.ide-header {
  background-color: #131C26;
  box-shadow: 5px 10px #ffffff;
  width: 100%;
  height: 42px;
}

#game {
  display: flex;
  flex-grow: 1;
}

.main .ide-panel .inner-main .ide-header .container .question-infos {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1180px;
  height: 100%;
}

.main .ide-panel .inner-main .ide-header .container {
  display: flex;
  justify-content: space-between;
}

.ide-header .session-info {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  align-items: center;
}

.ide-header .session-info .score .score-ico {
  background-image: url("../images/ide-black-s16e36b2c64.f9f06027.png");
  background-repeat: no-repeat;
  background-position: 0 -373px;
  width: 20px;
  height: 20px;
  color: #fff;
}

.ide-header .session-info .score {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main .ide-panel .inner-main #ide-code-screen {
  height: calc(100% - 43px);
  background-color: #131C26;
}

.list-item {
  direction: rtl;
}

.num {
  font-size: 16;
  color: blue;
  direction: ltr;
  font-weight: bold;
}

#ide-code-screen .container {
  display: flex;
  justify-content: space-between;
}

#ide-code-screen .container .left-block {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131C25;
}

#ide-code-screen .container .left-block .player-dommy {
  width: 100%;
  height: 57%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#ide-code-screen .container .left-block .player-note {
  width: 98%;
  height: 40%;
  background-color: #131C26;
  text-align: right;
  border: 0.5px solid #ececec;
  color: #fff;
  margin-right: 5px;
  margin-left: 1px;
}

#ide-code-screen .container .right-block {
  width: 485px;
  height: 100%;
  border-color: #131C25;
}

.left-block .player-dommy .larg-row {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-block .player-note .small-row p {
  text-align: right;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  font-size: 20px
}

.player-note {
  overflow-y: scroll;
}

.left-block .player-note .small-row .title h2 {
  text-align: center;
  font-size: 30px;
}

.left-block .player-note {
  background-color: #131C26;
  text-align: right;
  border: 2px solid #ececec;
}
@import url(https://fonts.googleapis.com/css?family=Share+Tech);
.pop-up{
  direction: rtl;
  margin: auto;
  padding: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  background-color: grey;
}
.pop-up {
	animation: pop 0.1s ease 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	height: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 30;
	.content {
    align-self: center;
		background-color: white;
		padding: 100px;
		width: 500px;}
}
.pop-start{
  direction: rtl;
  margin: auto;
  padding: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  background-color: grey;
}
.pop-start {
	animation: pop 0.3s ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	height: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 30;
	.content {
		align-self: center;
		background-color: white;
		padding: 100px;
		width: 500px;	}
}
.game-start {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 40px;
    border-style: solid;
    border-color: #6eb120;
    border-width: thick;
}
.exit-start{
  height: 40px;
  width: 40px;
  padding: 20px;;
}
.gify-start{
  display: flex;
  justify-content: center;
  width: auto;
}
.buttons-start{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.text-start{
  display: flex;
  justify-content: center;
}
.message-start{
  text-align: center;
  font-family:
  color: #6eb120;
}
.congrate {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 40px;
  border-style: solid;
  border-color: #6eb120;
  border-width: thick;
}
.exit{
  height: 40px;
  width: 40px;
  padding: 20px;;
}
.gify{
  display: flex;
  justify-content: center;
}
.buttons{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.text{
  display: flex;
  justify-content: center;
}
.message{
  text-align: center;
  font-family:
  color: #6eb120;
}
.pop-down {
  direction: rtl;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: grey;
  visibility: hidden;
}

@keyframes pop {
	0% {
		height: 0%;
	}
	50% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}
@keyframes show-text {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
.pop-down{
	animation: pop 0.3s ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	height: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 30;
	.content {
		align-self: center;
		background-color: white;
		padding: 100px;
		width: 500px;}
}
.try {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 40px;
  border-style: solid;
  border-color: crimson;
  border-width: thick;
}
.exit-try {
  height: 40px;
  width: 40px;
  padding: 20px;
}
.gify-try {
  display: flex;
  justify-content: center;
}
.buttons-try {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.try-text {
  display: flex;
  justify-content: right;
}
.message-try {
  text-align: center;
  font-family: monospace;
  color: red;
}
#ide-code-screen .container .left-block .larg-row .screen {
  width: 90%;
  height: 85%;
  background: #1e651e;
  margin-bottom: 5px;
  margin-top: 2%;
}

#myCanvas {
  visibility: hidden;
}

#ide-code-screen .container .right-block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
#ide-code-screen .container .right-block #defaultContainer {
  width: 100%;
  height: 50%;
  border: 2px solid gray;
  background-color: #fff;
  margin-bottom: 5px;
}
#ide-code-screen .container .right-block #drop {
  width: 100%;
  height: 47%;
  border: 2px solid gray;
  background-color: #fff;
}
.container .right-block #defaultContainer #block-1 {
  width: 80px;
  height: 80px;
  background-color: #131C26;
  color: #fff;
  text-align: center;
}

.panel {
  width: 380px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 90px;
  background-color: #F2F2F2;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
}

.panel .panel-container .panel-info h2 {
  text-align: center;
}

.panel .panel-container .panel-item {
  width: 95%;
  height: 30px;
  margin-bottom: 4px;
  background-color: #FFFFFF;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel .panel-container .panel-item a {
  text-decoration: none;
  color: #1a99aa;
  font-weight: 400;
}

.panel .panel-container button {
  display: flex;
  justify-content: flex-end;
}

.panel .panel-container {
  width: 100%;
  height: inherit;
}

.panel .panel-container #close {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.close-block {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel {
  display: none;
}

.instruction {
  list-style: none;
  color: white;
  font-size: 20px;
}

.dragcode {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dragcodeo {
  display: flex;
  justify-content: center;
  align-content: center;
  direction: rtl;
}

.dragcodeId {
  font-family: "Tahoma";
  color: #1C94C4;
  text-align: center;
  list-style: none;
  border: 1px solid #CCC;
  width: 90px;
  padding: 3px;
  margin: 3px;
  height: 10px;
  direction: rtl;
}

.dragcodeIds {
  font-family: "Tahoma";
  color: #1C94C4;
  direction: rtl;
  text-align: center;
  list-style: none;
  width: 90px;
  padding: 3px;
  margin: 3px;
  height: 6px;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: red;
}

#submit {
  position: absolute;
  right: 200px;
  bottom: 30px;
}

.popup {
  position: fixed;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.popup div {
  width: 120px;
  font-size: 20px;
}

.popup div {
  padding: 50px;
  background-color: black;
  border-radius: 40px;
  color: white;
  text-align: center;
}

.player-note:hover {
  background-color: #00FFFF;
  cursor: pointer;
}

.player-note:hover .popup {
  margin-left: 45px;
  margin-top: -110px;
  opacity: 1;
  color: #ed027e;
}

.larg-row:hover {
  background-color: #00FFFF;
  cursor: pointer;
}

.larg-row:hover .popup {
  margin-left: 45px;
  margin-top: -10px;
  opacity: 1;
  color: #ed027e;
}

.block:hover {
  background-color: #00FFFF;
  cursor: pointer;
}

.block:hover .popup {
  margin-left: 45px;
  margin-top: -10px;
  opacity: 1;
  color: #ed027e;
}

.block-code:hover {
  background-color: #00FFFF;
  cursor: pointer;
}

.block-code:hover .popup {
  margin-left: 45px;
  margin-top: -10px;
  opacity: 1;
  color: #ed027e;
}
