@import url(https://fonts.googleapis.com/css?family=Istok+Web);
html, body {
  height: 100%;
}

body {
  overflow: hidden;
  font-weight: 300;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

#main {
  height: 100%;
  position: relative;
}
#myVideo {
  width: 100%;
}
.video-container {
  width: 100%;
  height: 100%;
}
#main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#main .container .video-background{
position: absolute;
top: 50%;
left: 50%;
}
#main .container .user-access {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 40%;
}

#main .container .user-access .usr-signin,
#main .container .user-access .usr-signup {
  width: 250px;
  height: 52px;
  background-color: #484542;

}
#main .container .user-access .usr-signin:active,
#main .container .user-access .usr-signup :active{
  background-color: #e19b41;
}
#main .container .user-access .usr-signin a,
#main .container .user-access .usr-signup a{
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#main .container .st-button {
  width: 250px;
  height: 52px;
  background-color: #62dd3d;
  border: none;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#main .container .st-button:active {
background-color: #1a99aa;
}
footer {
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 19px;
  left: 500;
  DISPLAY: FLEX;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
}
@media screen and (max-width:768px) {
#main .container .user-access {
  flex-direction: column;
  justify-content: space-evenly;
}
#main {
  margin: 0;
  padding: 0;
}
#main .container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#main video{
  width: 1120px;
  height: 630px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
}
}
