body {
  direction: rtl;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: grey;
}

@keyframes pop {
	0% {
		height: 0%;
	}
	50% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

@keyframes show-text {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pop-up {
	animation: pop 0.3s ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	height: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 30;
	.content {
		align-self: center;
		background-color: white;
		padding: 100px;
		width: 500px;

	}
}
.try {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 40px;
  border-style: solid;
  border-color: crimson;
  border-width: thick;
}

.exit {
  height: 40px;
  width: 40px;
  padding: 20px;
}

.gify {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.try-text {
  display: flex;
  justify-content: right;
}

.message {
  text-align: center;
  font-family: monospace;
  color: red;
}
