<main class="main">
    <section class="error">
      <p class="error__desc">500<span class="error__msg">Internal Server Error</span></p>
      <img class="error__image" src="/images/500.jpg" alt="505-error">
    </section>
