<div class="about-us">
  <div class="para">
    <h1 class="title">MixTeem.com</h1>
    <p id="p1"> هو موقع الكتروني لجذب الأطفال نحو تعلم برمجة تصميم صفحات الانترنت باستخدام ألعاب ممتعة</p>
  </div>
</div>


<section class="team">
  <h1 id="h1">Our Team</h1>
  <div class="div">
    <div class="marwa">
      <img class="marwa-img" src="images/marwa.jpeg" alt="marwa">
      <h2 id= "h2">Marwa AlBeltaji</h2>
      <p class="p-marwa">
        Palestine | Gaza
      </p>
    </div>

    <div class="ismail">
      <img class="ismail-img" src="images/ismail.jpeg" alt="ismail">
      <h2 id= "h2">Ismail AlSaleh</h2>
      <p class="p-ismail">
        Palestine | Gaza
      </p>
    </div>
    <div class="nadia">
      <img class="nadia-img" src="images/nadia.jpeg" alt="nadia">
      <h2 id= "h2">Nadia Khateeb</h2>
      <p class="p-nadia">
        Palestine | Gaza
      </p>
    </div>
  </div>
</section>
