<link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=shahd-bold" />
<section class="team">
  <h1 id="h2">๐ูุฑูููุง๐</h1>
  <div class="div-team">
    <div class="marwa">
      <img class="marwa-img" src="images/marwa.jpeg" alt="marwa" role="none">
      <h2>ูุฑูุฉ ุฃุญูุฏ ุงูุจูุชุงุฌู</h2>
      <p class="p-marwa">
        ููุณุทูู | ุบุฒุฉ<br> ุฃูุธูุฉ ุงููุนูููุงุช ุงูุญุงุณูุจูุฉ
      </p>
    </div>

    <div class="ismail">
      <img class="ismail-img" src="images/ismail.jpeg" alt="ismail" role="none">
      <h2> ุงุณูุงุนูู ุตูุงุญ ุงูุตุงูุญ</h2>
      <p class="p-ismail">
        ููุณุทูู | ุบุฒุฉ<br> ููุฏุณุฉ ุญุงุณูุจ

      </p>
    </div>
    <div class="nadia">
      <img class="nadia-img" src="images/nadia.jpeg" alt="nadia" role="none">
      <h2>ูุงุฏูุฉ ุฒููุฑ ุงูุฎุทูููุจ</h2>
      <p class="p-nadia">
        ููุณุทูู | ุบุฒุฉ<br> ุชูููููุฌูุง ุงููุนูููุงุช
      </p>
    </div>
  </div>
</section>
