<section id="game">
  <div class="fluid-container">
    <div class="menu">
      <div class="m-item avatar">
      </div>
      <div class="menu-container">
        <div class="m-item">
          <a href="/"><i class="material-icons md-48">keyboard_backspace</i>
      <div> الصفحة الرئيسة  </div>
    </a>
        </div>
        <div class="m-item">
          <a href="/game"><i class="material-icons">account_circle</i>
      <div> {{username}}  </div>
    </a>
        </div>
        <div class="m-item">
          <button id="levels" >
            <i class="material-icons">games</i>
      <div> المستويات </div>
    </button>
        </div>
        <div class="m-item">
          <a href="/logout">
            {{>exit}}
          <div> تسجيل خروج </div>
          </a>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-container">
        <div class="panel-info">
          <h2> المستويات</h2>
        </div>
        <div class="p-item">
          <a href="#"><h4> المستوى الاول</h4></a>
        </div>
        <div class="p-item">
          <a href="#"><h4> المستوى الثاني</h4> </a>
        </div>
        <div class="p-item">
          <a href="#"><h4> المستوى الثالث</h4> </a>
        </div>
      </div>
    </div>
    <div class="us-board">
        <div class="header">
          <div class="cp-container">
          <h1> لوحة التحكم</h1>
        </div>
      </div>
    </div>
  </div>
</section>
