<div>
<form class="post-form" action="addPost" method="post">
      <input type="text" name="name" value="" placeholder="Your Name">
      <textarea name="post" rows="8" cols="80" placeholder="What do you have in mind?"></textarea>
      <input type="submit" name="submit" value="Submit">
   </form>
<section class="wrapper">
     <article class="one-post">
       <h1 class="post-publisher"></h1>
       <p class="post-content"></p>
     </article>
   </section>
</div>
