<div class="pop-up">
  <div class="content">

    <div class="congrate">
      <div class="congrate-text">
        <a href="#">
      <img class= "exit" src="images/exit.png" alt="Exit!">
    </a>
      </div>
      <div class="text">
        <h1 class="message">  رائـــع لقد فــزت!!</h1>
      </div>

      <div class="gify">
        <img src=" images/congrate.gif" alt="congrate"> </div>
      <div class="buttons">
        <a href="#">
      <img class= "exit" src="images/next.ico" alt="next!">
    </a>
        <a href="#">
    <img class= "exit" src="images/home.ico" alt="home!">
    </a>
        <a href="#">
    <img class= "exit" src="images/screen.png" alt="screen!">
    </a>
      </div>

    </div>

  </div>
</div>
