<div class="contact-form">
  <form method="post" action="contact.php" id="form" role="form">
    <h2 class="text-cont"> تواصــــل معنـــا </h2>
    <label for="name"><img src="images/name.png"></label>
    <input type="text" name="name" id="name" placeholder="الاسم...." required="">
    <label for="email"><img src="images/email.ico"></label>
    <input type="email" name="email" id="email" placeholder="البريد الإلكتروني...." min="5" max="100" required="">
    <label for="comment"><img src="images/message.ico"></label>
    <input type="text" name="comment" id="comment" placeholder="التعليــقات...." required="">
    <div class="btn-container"><a href="#" class="btn">أرسل</a></div>
  </form>
</div>
