
<link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=shahd-bold" /><h3>ØªÙˆØ§ØµÙ„ Ù…Ø¹Ù†Ø§</h3>

<div class="container">
  <form action="mailto:mixteen2018@gmail.com" onsubmit="return validate()"  name="form" method="post">
    <label for="fname"> Ø§Ù„Ø§Ø³Ù…</label>
    <input type="text" id="fname" name="firstname" placeholder=" Ø§Ù„Ø§Ø³Ù… ðŸ‘¦ ðŸ‘§ .."required>

    <label for="email">Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø§Ù„ÙƒØªØ±ÙˆÙ†ÙŠ</label>
    <input type="email" id="email" name="email" placeholder=" Ø§Ù„Ø¨Ø±ÙŠØ¯ Ø§Ù„Ø§Ù„ÙƒØªØ±ÙˆÙ†ÙŠ  ðŸ’Œ ... "required>

    <label for="subject">Ø§Ù„ØªØ¹Ù„ÙŠÙ‚Ø§Øª</label>
    <textarea id="subject" name="subject" placeholder="  Ø§ÙƒØªØ¨ ØªØ¹Ù„ÙŠÙ‚Ùƒ  âœ ...."required></textarea>

    <input class="button" id= "submit" type="submit" value="ðŸ’• Ø£Ø±Ø³Ù€Ù€Ù€Ù„ ðŸ’•">
  </form>
</div>
<script type="text/javascript" src="puplic/js/dom.js">

</script>
