<div class="contact-form">
  <form method="post" action="contact.php" id="form" role="form">
    <h2 class="text-cont"> تواصــــل معنـــا </h2>
    <div class=" data">
      <label for="name"><img  class="name" src="images/name.png"></label>
      <input type="text" name="name" id="name" placeholder="الاسم..." required=""></div>
    <div class=" data">
      <label for="email"><img class="email" src="images/email.ico"></label>
      <input type="email" name="email" id="email" placeholder="البريد الإلكتروني...." required=""></div>
    <div class=" data">
      <label for="comment"><img  class="comment" src="images/message.ico"></label>
      <input type="text" name="comment" id="comment" placeholder="التعليـــقات...." required=""></div>
    <div class="but-box">
      <button name="button" class="btn-container">أرســـــل</button>
    </div>

</div>
</form>
</div>
