
<link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=shahd-bold" /><h3>تواصل معنا</h3>

<div class="container">
  <form action="/">
    <label for="fname"> الاسم</label>
    <input type="text" id="fname" name="firstname" placeholder=" الاسم..">

    <label for="email">البريد الالكتروني</label>
    <input type="text" id="email" name="email" placeholder=" البريد الالكتروني..">

    <label for="subject">التعليقات</label>
    <textarea id="subject" name="subject" placeholder=" اكتب تعليقك...." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
