<section id="game">
  <div class="fluid-container">
    <div class="menu">
      <div class="menu-item avatar">
      </div>
      <div class="menu-container">
        <div class="menu-item">
          <a href="/"><i class="material-icons md-48">keyboard_backspace</i>
      <div> الصفحة الرئيسة  </div>
    </a>
        </div>
        <div class="menu-item">
          <button id="levels">
            <i class="material-icons">games</i>
          <div> المستويات </div>
          </button>
        </div>
        <div class="menu-item">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-container">
        <div class="panel-info">
          <h2> المستويات</h2>
        </div>
        <div class="panel-item">
          <a href="#"><h4> المستوى الاول</h4></a>
        </div>
        <div class="panel-item">
          <a href="#"><h4> المستوى الثاني</h4> </a>
        </div>
        <div class="panel-item">
          <a href="#"><h4> المستوى الثالث</h4> </a>
        </div>
      </div>
    </div>
    <div class="pop-down" id="pop-down">
        <div class="content-try">
          <div class="try">
            <div class="try-text">
              <a href="/game">
            <img class= "exit-try" src="images/exit.png" alt="Exit!">
          </a>
            </div>
            <div class="text-try">
              <h1 class="message-try">حــاول مجــددآ!!</h1>
            </div>

            <div class="gify-try">
              <img src=" images/try.gif" alt="try"> </div>
            <div class="buttons-try">
              <a href="/game">
            <img class= "exit-try" src="images/try.png" alt="next!">
          </a>


         </div>

          </div>
        </div>
      </div>
      <div class="pop-start" id="pop-start">
        <div class="content-start">

          <div class="game-start">
            <div class="text-start">
              <a href="/game">
            <img class= "exit-start" src="images/exit.png" alt="Exit!">
          </a>
            </div>
            <div class="text-start">
              <h1 class="message-start"> أكتب الكود أولا</h1>
            </div>

            <div class="gify-start">
              <img src=" images/start.gif" alt="start"> </div>
            <div class="buttons-start">
            </div>

          </div>

        </div>
      </div>
    <div class="pop-up" id="pop-up">
      <div class="content">

        <div class="congrate">
          <div class="congrate-text">
            <a href="/game">
          <img class= "exit" src="images/exit.png" alt="Exit!">
        </a>
          </div>
          <div class="text">
            <h1 class="message">  رائـــع لقد فــزت!!</h1>
          </div>

          <div class="gify">
            <img src=" images/congrate.gif" alt="congrate"> </div>
          <div class="buttons">
            <a href="#">
          <img class= "exit" id ="play-game" src="images/next.ico" alt="next!">
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://ibb.co/kMCXeG" target="_blank" rel="noopener">
          <img class= "exit-try" src="images/face.png" alt="next!">
      </a>
            <a href="/images/level1.png" download>
        <img class= "exit" src="images/screen.png" alt="screen!" value="download">
        </a>
          </div>

        </div>

      </div>
    </div>
    <!-- </div> -->

    <div class="left-column">
      <div class="main">
        <div class="ide-panel">
          <div class="inner-main">
            <div class="ide-header">
              <div class="container">
                <div class="session-info">
                  <div class="score">
                    <span>N/A</span>
                    <div class="score-ico"></div>
                  </div>
                  <div class="notice">
                    اعلى تقييم
                  </div>
                </div>
                <div class="question-infos">
                  <h1>
              <span>
المستوى الأول              </span>
            </h1>
                </div>
              </div>
            </div>
            <div id="ide-code-screen">
              <div class="container">
                <div class="left-block">
                  <div class="player-dommy">
                    <div class="larg-row">

                      <div class="screen">

                        <div class='popup'>
                          <div>رابعآ : هيآ لنبدأ اللعب </div>
                          <svg height="50" width="100">
                            <path d="M0 50 L40 0 L65 0 Z" />
                            Sorry, your browser does not support inline SVG.
                          </svg>
                        </div>
                        <canvas id="myCanvas" width="585" height="296.017">
                          <script src="/js/play.js"></script>
                        </canvas>

                      </div>
                      <div class="screen-button">
                        <button id="play"> إلعب </button>
                      </div>
                    </div>
                  </div>

                  <div class="player-note">
                    <div class="small-row">
                      <div class="title">

                        <h2>الهدف</h2>
                      </div>

                      <div class='popup'>
                        <div> أولا : إقرأ التعليمات جيدآ لتتعرف على الهدف من هذه المرحلة</div>
                        <svg height="50" width="100">
                          <path d="M0 50 L40 0 L65 0 Z" />
                          Sorry, your browser does not support inline SVG.
                        </svg>
                      </div>

                      <p>لنبدأ وقت المرح ونحصل على عدد من النقاط سنتعلم كيف نحرك اللاعبين باستخدام الأكواد البرمجية الجميلة  من خلال معرفة أكواد أزرار لوحة المفاتيح  التي تلعب من خلالها </p>
                      <ul class="list-item">


                        <li class="instruction"> x :تعني حركة أفقية </li>
                        <li class="instruction"> y :تعني حركة عمودية</li>
                        <li class="instruction"> - : تعني رجوع </li>
                        <li class="instruction"> + : تعني تقدم</li>


                      </ul>

                    </div>
                  </div>
                </div>

                <div class="right-block">

                  <div id="defaultContainer" class="block">

                    <div class='popup'>
                      <div> ثانيآ : اتبع الخطوات بشكل متتالي ولاحظ ما يحدث</div>
                      <svg height="50" width="100">
                        <path d="M0 50 L40 0 L50 0 Z" />
                        Sorry, your browser does not support inline SVG.
                      </svg>
                    </div>
                    <h2 class="title">تتبع معنا </h2>

                    <ul class="dragcode">
                      <li class="dragcodeId">37</li>
                      <li class="dragcodeId">38</li>
                      <li class="dragcodeId">39</li>
                      <li class="dragcodeId">40</li>
                    </ul>
                    <ul class="dragcode">
                      <li class="dragcodeIds"><img src="/images/left.png" width="20" height="20"></li>
                      <li class="dragcodeIds"><img src="/images/down.png" width="20" height="20"></li>
                      <li class="dragcodeIds"> <img src="/images/right.png" width="20" height="20"></li>
                      <li class="dragcodeIds"> <img src="/images/up.png" width="20" height="20"></li>
                    </ul>

                    <ul class="dragcode">
                      <li class="dragcodeIds">سنرجع خطوات لليسار على مستوى x الخط الأفقي</li>
                      <li class="dragcodeIds"> سنرجع خطوات للخلف على مستوى y الخط العمودي </li>
                      <li class="dragcodeIds"> نتقدم خطوات لليمين على مستوى x الخط الأفقي </li>
                      <li class="dragcodeIds"> نتقدم خطوات للأمام على مستوى y الخط العمودي</li>

                    </ul>

                  </div>


                  <div id="drop" class="block-code">

                    <div class='popup'>
                      <div>ثالثآ : اكتب الرقم المناسب ليصبح الكود صحيحآ</div>
                      <svg height="50" width="100">
                      <path d="M0 50 L40 0 L65 0 Z" />
                      Sorry, your browser does not support inline SVG.
                    </svg>
                    </div>


                    <h2 style="display:flex;justify-content:center; align-content:center;color:red;"> اكتب في المربعات الفارغة الكود المناسب </h2>
                    <form  id = "code" name="game" action="JavaScript:Assessment()">
       if<tr><td>( </td><td><input type="text" name="left" id="left"  autocomplete="off"/></td> <td> in keycode)</td>
           <td>{hero.x -= hero.speed * modifier;}</td>  </tr>
<span id="leftspan" style="color:green"></span><br/>
 if<tr><td>(  </td><td><input type="text" name="down" id="down"  autocomplete="off"/></td> <td> in keycode)</td>
           <td>{hero.y -= hero.speed * modifier;}</td>  </tr>
<span id="downspan" style="color:green"></span><br/>
if<tr><td>(  </td><td><input type="text" name="right" id="right" autocomplete="off"/></td> <td> in keycode)</td>
           <td>{hero.x += hero.speed * modifier;}</td>  </tr>
<span id="rightspan" style="color:green"></span><br/>
if<tr><td> ( </td><td><input type="text" name="up" id="up"  autocomplete="off"/></td> <td> in keycode)</td>
           <td>{hero.y += hero.speed * modifier;}</td>  </tr>
<span id="upspan" style="color:green"></span><br/>
      <input type="submit" name="submit" id="submit" value="افحص الكود " />
   </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<script type="text/javascript" src="/js/gameDom.js"></script>
