<section id="game">
  <div class="container">
    <div class='drop-play'>
      <div class="drop-boxes">
        <div class="block">

        </div>
        <div class="block-code">

        </div>
      </div>
      <div class="larg-row">
        <div class="space-box">

        </div>
        <div class="screen">

        </div>
        <div class="screen-button">
          <button id="play">play</button>
        </div>
      </div>
    </div>
    <div class="small-row">
<div class="title">
  <h2> المستوى الاول</h2>
  <div class="space-box"></div>
</div>
      <p>قم بتحرك الصورة لجهة اليمين </p>
    </div>
  </div>
</section>
