<section id="main">
  <div class="container">
          <div class="user-access">
            <div class="usr-signup">
              <a href="/signup" data-info="التسجيل ">
                تسجيل
              </a>
            </div>
            <div class="usr-signin">
              <a href="/signin" data-info="تسجيل الدخول ">
                تسجيل الدخول
              </a>
            </div>
          </div>
          <a id="start" href="/game" class="st-button"> ابدا الآن </a>
        </div>
</section>
