<section id="main">
  <div class="video-container">

    <video autoplay muted loop id="myVideo">
      <source src="images/opening-v2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <div class="container">
        <div class="user-access">
          <div class="content"> 
            <p class="p-mix">ูู ูููุน ุงููุชุฑููู ูุณุชูุฏู ุงูุงุทูุงู ูุง ุจูู 6 ุงูู 14 ุณููุงุช ูู ุงููุฌุชูุน ุงูุนุฑุจู ูุชุนููู ุงูุจุฑูุฌุฉ ูู ุฎูุงู ุงูุฃูุนุงุจ ุจุทุฑููุฉ ููุชุนุฉ </p>
            <b>๐๐ ุงูู ููุช ุงููุฑุญ ููุง ูุจุฏุฃ  ๐๐</b><br>
          </div>
          <div class="usr-signup">
            <a href="/signup" data-info="ุงูุชุณุฌูู ">
              ุณุฌู
            </a>
          </div>
          <div>
            <a id="start" href="/signin" class="st-button"> ุงุจุฏุง ุงูุขู </a>
          </div>
        </div>
      </div>
  </div>
</section>
