<div class="container">
    <header class="clearfix">
      <span>Mix Teen </span>
      <h1>Born To Code</h1>
      <nav>
        <a href="in.html" class="icon-arrow-left" data-info="المستويات "> </a>
        <a href="#" class="icon-drop" data-info="الصفحة الرئيسية "></a>
        <a href="in.html" class="icon-drop" data-info="تواصل معنا"></a>
      </nav>
    </header>
   <input type="button" name="Start" value="إبدأ">
</div>
