<body>
  <video autoplay muted loop id="myVideo">
  <source src="images/opening-v2.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

  <div class="content">
    <h1>MixTeen App</h1>
    <p class="p-mix">ูู ูููุน ุงููุชุฑููู ูุณุชูุฏู ุงูุงุทูุงู ูุง ุจูู 6 ุงูู 14 ุณููุงุช ูู ุงููุฌุชูุน ุงูุนุฑุจู ูุชุนููู ุงูุจุฑูุฌุฉ ูู ุฎูุงู ุงูุฃูุนุงุจ ุจุทุฑููุฉ ููุชุนุฉ </p>
    <b>๐๐ ุงูู ููุช ุงููุฑุญ ููุง ูุจุฏุฃ  ๐๐</b><br>

    <button id="myBtn" class="mybutton"><a  href="/signup" class="href">  ุงุจุฏุฃ ุงููุนุจุฉ</a></button>
    <button id="myBtn2" class="mybutton"><a href="/signin" class="href"> ุชุณุฌูู ุงูุฏุฎูู </a></button>
  </div>
</body>
