<a href="home" class="rec"><img src="/images/onee.png" width="100px" height="100px"></a>
  <a href="home" class="rect"><img src="/images/two.png" width="100px" height="100px"></a>
  <a href="home" class="rectt"><img src="/images/three.png" width="100px" height="100px"></a>
<div class="recta">                                                        اختار المستوى </div>

</div>
