<a href="index.html" class="rec"><img src=".././public/images/onee.png" width="100px" height="100px"></a>
  <a href="index.html" class="rect"><img src=".././public/images/two.png" width="100px" height="100px"></a>
  <a href="index.html" class="rectt"><img src=".././public/images/three.png" width="100px" height="100px"></a>
<!-- <div class="rectt" style="width:210px;height:210px;border:1px solid #000; background:red"></div> -->
<div class="recta">                                                        اختار المستوى </div>

</div>
