  <section id="sp_form">
    <div class="form-container">
    <form>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="log_input">
          <label> اسم المستخدم</label>
          <input id="username" class="input_box" type="text" name="name"  autocomplete="off" pattern="^[a-z\d\.]{5,}$" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">email</i>
        </div>
        <div class="log_input">
          <label> الايميل</label>
          <!--  -->
          <input id="email" class="input_box" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  name="name" data-value-missing= "Translate('Required')"
  pattern="\d{13,16}" data-pattern-mismatch= "Translate('Invalid credit card')" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">vpn_key</i>
        </div>
        <div class="log_input">
          <label>  كلمة السر</label>
          <input id="password" class="input_box" type="password" name="name" pattern="^.{4,8}$" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">verified_user</i>
         </div>
        <div class="log_input">
          <label> تأكيد كلمة السر</label>
          <input id="cf_password" class="input_box" type="password" name="name" autocomplete="off" required>
        </div>
      </div>
      <div class="but_form">
        <div id="button_sign_in" class="button">
          <button id="signup" class="log_button" type="button" name="button"><span>  تاكيد التسجيل</span></button>
        </div>
      </div>
    </form>
  </div>
  </section>
<script type="text/javascript" src="/js/signupDom.js"></script>
