  <section id="sp_form">
    <div class="form-container ">
    <form>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="log_input">
          <label> الاسم او اللقب</label>
          <input id="username" type="text" class="input_box" value="" name="username" pattern="^[a-z\d\.]{5,}$" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
        <i class="material-icons">vpn_key</i>
      </div>
        <div class="log_input">
          <label> كلمة السر</label>
          <input id="password" class="input_box" type="password" value="" name="password" autocomplete="off" pattern="^.{4,8}$" required>
        </div>
      </div>
      <div class="but_form">
        <div class="button">
          <button id="sign_in" class="log_button" type="button" name="button"><span>سجل الدخول </span></button>
        </div>
      </div>
    </form>
  </div>
  </section>
<script type="text/javascript" src="/js/signinDom.js"></script>
