<div class="form-container">
  <section id="sp_form">
    <form>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="log_input">
          <label>Full Name</label>
          <input id="username" class="input_box" type="text" name="name" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">email</i>
        </div>
        <div class="log_input">
          <label>Email</label>
          <input id="email" class="input_box" type="email" name="name" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">vpn_key</i>
        </div>
        <div class="log_input">
          <label>Password</label>
          <input id="password" class="input_box" type="password" name="name" autocomplete="off" required>
        </div>
      </div>
      <div class="input_form">
        <div class="log_ico">
          <i class="material-icons">verified_user</i>
         </div>
        <div class="log_input">
          <label>Confirm Password</label>
          <input id="cf_password" class="input_box" type="password" name="name" autocomplete="off" required>
        </div>
      </div>
      <div class="but_form">
        <div id="button_sign_in" class="button">
          <button id="signup" class="log_B" type="button" name="button"><span>SignUp</span></button>
        </div>
      </div>
    </form>
  </section>
</div>
<script type="text/javascript" src="/js/signupDom.js"></script>
