<div class="pop-up">
    <div class="content">
      <div class="try">
        <div class="try-text">
          <a href="#">
        <img class= "exit" src="images/exit.png" alt="Exit!">
      </a>
        </div>
        <div class="text">
          <h1 class="message">حــاول مجــددآ!!</h1>
        </div>

        <div class="gify">
          <img src=" images/try.gif" alt="try"> </div>
        <div class="buttons">
          <a href="#">
        <img class= "exit" src="images/try.png" alt="next!">
      </a>


          <a href="#">
      <img class= "exit" src="images/home.ico" alt="home!">
      </a>

          <a href="#">
          <img class= "exit" src="images/screen.png" alt="next!">
          </a>

        </div>

      </div>
    </div>
  </div>
