<footer class="footer">
	<span class="social">
			<a href ="https://plus.google.com/107981716703962803784"><img  class="img-footer"src="images/google.ico" alt="google"></a>
			<a href ="https://twitter.com/mixteen2018"><img class="img-footer" src="images/tweeter.ico" alt="tweeter"></a>
			<a href ="https://www.facebook.com/MixTeen-161684127804201/?section=PUBLISHED_POSTS&sort"><img  class="img-footer" src="images/facebook.ico" alt="facebook"></a>
		</span>
	<p class="copyright"> MixTeen | جميــع الحقــوق محفوظــة © 2018 </p>
</footer>
