<div class="dropdown">
<a href="in.html" class="dropbtn" data-info="nav"><img src="/homelogo.png " width="100%" height="100%"></a>
<div class="dropdown-content">
  <a href="index.html">Home</a>
  <a href="#">Levels</a>
  <a href="index.html">Contact</a>
</div>
</div>
