<header class="clearfix">
  <div class="container">
    <div class="logo">
      <span>Mix Teen </span>
      <h1>Born To Code</h1>
    </div>
    <button aria-label="Menu" class="burger-btn">
      <span class="icon-line"></span>
      <span class="icon-line "></span>
      <span class="icon-line"></span>
    </button>
    <nav class="list-nav">
      <div class="item">
        <a href="/contact" data-info="تواصل معنا">
          <i class="material-icons">contacts</i>
          <div class="content"> تواصل معنا</div>
          <div class="space-box"></div>
        </a>
      </div>
      <div class="item">
        <a href="/about" data-info="نبذة عنا   ">
          <i class="material-icons">group</i>
          <div class="content"> نبذة عنا</div>
          <div class="space-box"></div>
        </a>
      </div>
      <div class="item">
        <a href="/" data-info="الصفحة الرئيسية ">
          <i class="material-icons">home</i>
          <div class="content"> الصفحة الرئيسية</div>
          <div class="space-box"></div>
        </a>
      </div>
    </nav>
  </div>
</header>
