<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if head}}
  <link rel="stylesheet" href="/css/stylehome.css">
  {{else}}
  <link rel="stylesheet" href="/css/stylelevel.css">
  {{/if}}
  <title>Mix Teen</title>
</head>
<body>
  <main class="main">
  {{{body}}}
  </main>

  {{> footer}}

  <script src="/js/login.js"></script>
  <script src="/js/dom.js"></script>
</body>
</html>
