<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Free Web for kids to learn coding in javascript and html and css">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="KidsTeen Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidsTeen</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
{{#if home}}
<link rel="stylesheet" href="/css/stylehome.css">
{{/if}}
{{#if game}}
<link rel="stylesheet" href="/css/style.css">
{{/if}}
{{#if levels}}
<link rel="stylesheet" href="/css/stylelevel.css">
{{/if}}
  </head>
  <body>
{{#unless game}}
{{>header}}
{{/unless}}
{{{body}}}
  </body>
</html>
