<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="Free Web for kids to learn coding in javascript and html and css">
  <meta name="keywords" content="HTML,CSS,JavaScript">
  <meta name="author" content="KidsTeen Team">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KidsTeen</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/footer.css">
  {{#unless game}}
    <link rel="stylesheet" href="/css/header.css">
  {{/unless}}
  <link rel="stylesheet" href="/css/login.css">
  {{#if home}}
    <link rel="stylesheet" href="/css/stylehome.css">
  {{/if}}
  {{#if game}}
    <link rel="stylesheet" href="/css/style.css">
  {{/if}}
  {{#if levels}}
    <link rel="stylesheet" href="/css/stylelevel.css">
  {{/if}}
  {{#if home}}
    <link rel="stylesheet" href="/css/stylehome.css">
  {{/if}}
  {{#if game}}
    <link rel="stylesheet" href="/css/style.css">
  {{/if}}
  {{#if levels}}
    <link rel="stylesheet" href="/css/stylelevel.css">
  {{/if}}
  {{#if about}}
    <link rel="stylesheet" href="/css/about.css">
  {{/if}}
  {{#if contact}}
    <link rel="stylesheet" href="/css/contact.css">
  {{/if}}

</head>

<body>
  {{#unless game}}
    {{>header}}
     {{>footer}}
  {{/unless}}
  {{{body}}} {{>footer}}
  <script type="text/javascript" src="/js/homeDom.js"></script>
</body>

</html>
