<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KidsTeen</title>
{{#if home}}
<link rel="stylesheet" href="/css/stylehome.css">
{{/if}}
{{#if game}}
<link rel="stylesheet" href="/css/style.css">
{{/if}}
{{#if levels}}
<link rel="stylesheet" href="/css/stylelevel.css">
{{/if}}
{{#if congrate}}
<link rel="stylesheet" href="/css/congrate.css">
{{/if}}
  </head>
  <body>
{{{body}}}
  </body>
</html>
